<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,359}</string>
                <key>spriteSourceSize</key>
                <string>{175,359}</string>
                <key>textureRect</key>
                <string>{{1473,350},{175,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,359}</string>
                <key>spriteSourceSize</key>
                <string>{146,359}</string>
                <key>textureRect</key>
                <string>{{1648,350},{146,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,338}</string>
                <key>spriteSourceSize</key>
                <string>{235,338}</string>
                <key>textureRect</key>
                <string>{{0,0},{235,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,339}</string>
                <key>spriteSourceSize</key>
                <string>{227,339}</string>
                <key>textureRect</key>
                <string>{{235,0},{227,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,352}</string>
                <key>spriteSourceSize</key>
                <string>{185,352}</string>
                <key>textureRect</key>
                <string>{{373,350},{185,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,351}</string>
                <key>spriteSourceSize</key>
                <string>{181,351}</string>
                <key>textureRect</key>
                <string>{{0,350},{181,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,353}</string>
                <key>spriteSourceSize</key>
                <string>{137,353}</string>
                <key>textureRect</key>
                <string>{{869,350},{137,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,350}</string>
                <key>spriteSourceSize</key>
                <string>{175,350}</string>
                <key>textureRect</key>
                <string>{{1388,0},{175,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,350}</string>
                <key>spriteSourceSize</key>
                <string>{160,350}</string>
                <key>textureRect</key>
                <string>{{1563,0},{160,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,348}</string>
                <key>spriteSourceSize</key>
                <string>{208,348}</string>
                <key>textureRect</key>
                <string>{{821,0},{208,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,344}</string>
                <key>spriteSourceSize</key>
                <string>{191,344}</string>
                <key>textureRect</key>
                <string>{{462,0},{191,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,346}</string>
                <key>spriteSourceSize</key>
                <string>{168,346}</string>
                <key>textureRect</key>
                <string>{{653,0},{168,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,355}</string>
                <key>spriteSourceSize</key>
                <string>{184,355}</string>
                <key>textureRect</key>
                <string>{{1006,350},{184,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,355}</string>
                <key>spriteSourceSize</key>
                <string>{147,355}</string>
                <key>textureRect</key>
                <string>{{1190,350},{147,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,355}</string>
                <key>spriteSourceSize</key>
                <string>{136,355}</string>
                <key>textureRect</key>
                <string>{{1337,350},{136,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,353}</string>
                <key>spriteSourceSize</key>
                <string>{147,353}</string>
                <key>textureRect</key>
                <string>{{558,350},{147,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,353}</string>
                <key>spriteSourceSize</key>
                <string>{164,353}</string>
                <key>textureRect</key>
                <string>{{705,350},{164,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,349}</string>
                <key>spriteSourceSize</key>
                <string>{151,349}</string>
                <key>textureRect</key>
                <string>{{1029,0},{151,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,352}</string>
                <key>spriteSourceSize</key>
                <string>{192,352}</string>
                <key>textureRect</key>
                <string>{{181,350},{192,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,349}</string>
                <key>spriteSourceSize</key>
                <string>{208,349}</string>
                <key>textureRect</key>
                <string>{{1180,0},{208,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Enemy.png</string>
            <key>size</key>
            <string>{1794,709}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:767e06cd7d5f8089bdd46c5aa40481bd:12c6da431d04fb48ffa42c64e0319959:9792b3bc94f4f42809fc42a64c45764d$</string>
            <key>textureFileName</key>
            <string>Enemy.png</string>
        </dict>
    </dict>
</plist>
