<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,240}</string>
                <key>spriteSourceSize</key>
                <string>{166,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,240}</string>
                <key>spriteSourceSize</key>
                <string>{158,240}</string>
                <key>textureRect</key>
                <string>{{169,1},{158,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{303,243},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,244}</string>
                <key>spriteSourceSize</key>
                <string>{147,244}</string>
                <key>textureRect</key>
                <string>{{1,486},{147,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{431,212},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,241}</string>
                <key>spriteSourceSize</key>
                <string>{126,241}</string>
                <key>textureRect</key>
                <string>{{815,252},{126,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,241}</string>
                <key>spriteSourceSize</key>
                <string>{125,241}</string>
                <key>textureRect</key>
                <string>{{543,509},{125,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{559,209},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{943,255},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{1071,256},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,248}</string>
                <key>spriteSourceSize</key>
                <string>{141,248}</string>
                <key>textureRect</key>
                <string>{{1,732},{141,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,246}</string>
                <key>spriteSourceSize</key>
                <string>{133,246}</string>
                <key>textureRect</key>
                <string>{{168,243},{133,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,209}</string>
                <key>spriteSourceSize</key>
                <string>{167,209}</string>
                <key>textureRect</key>
                <string>{{329,1},{167,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{1199,257},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{415,498},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{687,206},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{405,752},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{533,752},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,249}</string>
                <key>spriteSourceSize</key>
                <string>{133,249}</string>
                <key>textureRect</key>
                <string>{{150,491},{133,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,241}</string>
                <key>spriteSourceSize</key>
                <string>{130,241}</string>
                <key>textureRect</key>
                <string>{{144,742},{130,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,249}</string>
                <key>spriteSourceSize</key>
                <string>{128,249}</string>
                <key>textureRect</key>
                <string>{{834,1},{128,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{661,752},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{798,495},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,206}</string>
                <key>spriteSourceSize</key>
                <string>{167,206}</string>
                <key>textureRect</key>
                <string>{{498,1},{167,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{926,509},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{1054,510},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{1182,511},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{789,752},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,243}</string>
                <key>spriteSourceSize</key>
                <string>{128,243}</string>
                <key>textureRect</key>
                <string>{{285,498},{128,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,240}</string>
                <key>spriteSourceSize</key>
                <string>{126,240}</string>
                <key>textureRect</key>
                <string>{{670,510},{126,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,244}</string>
                <key>spriteSourceSize</key>
                <string>{125,244}</string>
                <key>textureRect</key>
                <string>{{1172,766},{125,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,247}</string>
                <key>spriteSourceSize</key>
                <string>{125,247}</string>
                <key>textureRect</key>
                <string>{{1045,764},{125,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,250}</string>
                <key>spriteSourceSize</key>
                <string>{126,250}</string>
                <key>textureRect</key>
                <string>{{917,763},{126,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,203}</string>
                <key>spriteSourceSize</key>
                <string>{165,203}</string>
                <key>textureRect</key>
                <string>{{667,1},{165,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,241}</string>
                <key>spriteSourceSize</key>
                <string>{165,241}</string>
                <key>textureRect</key>
                <string>{{1,243},{165,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,241}</string>
                <key>spriteSourceSize</key>
                <string>{127,241}</string>
                <key>textureRect</key>
                <string>{{276,743},{127,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,252}</string>
                <key>spriteSourceSize</key>
                <string>{126,252}</string>
                <key>textureRect</key>
                <string>{{964,1},{126,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,253}</string>
                <key>spriteSourceSize</key>
                <string>{126,253}</string>
                <key>textureRect</key>
                <string>{{1092,1},{126,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,254}</string>
                <key>spriteSourceSize</key>
                <string>{126,254}</string>
                <key>textureRect</key>
                <string>{{1220,1},{126,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PLPL.png</string>
            <key>size</key>
            <string>{1347,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a298ee05a6f50fb8a78d7eb65b030b3:3da020c089248acf3b24d52e253ab9f1:fa5181ef3a96322ae20c78596197912f$</string>
            <key>textureFileName</key>
            <string>PLPL.png</string>
        </dict>
    </dict>
</plist>
